@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200;300&family=Fruktur&family=Irish+Grover&family=League+Gothic&family=Luxurious+Script&family=Smooch&display=swap');
.main{
    border: solid 3px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.ErrPage{
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.ErrPage h1{
    font-size: 250px;
}
.ErrPage p{
    font-size: 50px;
}