.Landing{
    display: flex;
    /* flex-direction: column; */ 
}

.Landing img{
width: 60%;
height: 100vh;
z-index: 100px;
}

.Landing button{
width: 15%;
height: 30px;
flex-direction: column;
margin: 10px;
}
